{% extends 'base.html' %}


{% block content %}

    <h1>About the Fitch Collector</h1>
    <hr />

    <h3> Finches are small birds with forked or notched tails, moderately pointed wings, rounded or elongated bodies and round heads, with more or less triangular bills.</h3>
    <h6>The bill shape varies according to the principal type of food, from short and rounded to rather long and sharp. Some species are agile and feed while perching on, or hanging from, plants. Others are essentially ground feeders. Most also take insects from foliage in the breeding season. They have distinctive flight calls and simple, but sometimes musical, songs.</h6>
    
    <hr />

    <p>Hire the Fitch Collector!</p>
    
{% endblock %}